<h2>Listing expenses</h2>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Amount</th>
      <th>Category</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for expense <- @expenses do %>
    <tr>
      <td><%= expense.user_id %></td>
      <td><%= expense.amount %></td>
      <td><%= expense.category %></td>

      <td class="text-right">
        <%= link "Show", to: Helpers.expense_path(@conn, :show, expense), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: Helpers.expense_path(@conn, :edit, expense), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: Helpers.expense_path(@conn, :delete, expense), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New expense", to: Helpers.expense_path(@conn, :new) %>
