<h2>Show expense</h2>

<ul>

  <li>
    <strong>User:</strong>
    <%= @expense.user_id %>
  </li>

  <li>
    <strong>Amount:</strong>
    <%= @expense.amount %>
  </li>

  <li>
    <strong>Category:</strong>
    <%= @expense.category %>
  </li>

</ul>

<%= link "Edit", to: Helpers.expense_path(@conn, :edit, @expense) %>
<%= link "Back", to: Helpers.expense_path(@conn, :index) %>
